@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}
#miseajour {
  margin: 1rem;
  display: block;
  text-align: center;
}
body {
  // overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  padding-top: 80px;
  color: #fff;
  background: #8c93a1;
}
h1{
  font-size: 1.5em;
  text-align: center;
  margin: 1rem;
}
h2 {
  font-size: 1.2em;
  text-align: center;
  margin: 1rem;
}
.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
}

.column-center {
  align-items: center;
}

.split {
  justify-content: space-between;
}

.split-center {
  justify-content: space-around;
}

@keyframes fadeOne {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeTwo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Weather {
  min-width: 350px;
}
.Weather__main {
  background: #8a9fe3;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 6px solid #5d75c9;
  box-shadow: 5px 5px 15px rgb(6, 9, 34);
  text-align: center;
  padding: 30px 0 15px;
}
@media screen and (min-width: 500px) {
  .Weather__main {
    width: 300px;
    height: 300px;
  }
}
@media screen and (min-width: 880px) {
  .Weather__main {
    width: 350px;
    height: 350px;
  }
}
.Weather h3 {
  font-size: 1.3rem;
  font-weight: 300;
}
@media screen and (min-width: 500px) {
  .Weather h3 {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 880px) {
  .Weather h3 {
    font-size: 2rem;
  }
}
.Weather h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
@media screen and (min-width: 500px) {
  .Weather h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 880px) {
  .Weather h2 {
    font-size: 2.425rem;
  }
}
.Weather #temp {
  font-size: 3rem;
  display: inline-block;
  position: relative;
  animation: fadeOne .4s;
}
@media screen and (min-width: 500px) {
  .Weather #temp {
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 880px) {
  .Weather #temp {
    font-size: 4rem;
  }
}
// .Weather #temp:after {
//   content: '';
//   position: absolute;
//   top: 11px;
//   right: -16px;
//   height: 7px;
//   width: 7px;
//   border: 3px solid #fff;
//   border-radius: 50%;
// }
// @media screen and (min-width: 880px) {
//   .Weather #temp:after {
//     height: 10px;
//     width: 10px;
//     top: 16px;
//     right: -17px;
//   }
// }
// .Weather #temp.toggle {
//   animation: fadeTwo .4s;
// }
// .Weather__main-toggle {
//   margin: 0 0 0 16px;
// }
// .Weather__main-toggle > span {
//   font-size: 1.2rem;
//   position: relative;
// }
// @media screen and (min-width: 500px) {
//   .Weather__main-toggle > span {
//     font-size: 1.5rem;
//   }
// }
// @media screen and (min-width: 880px) {
//   .Weather__main-toggle > span {
//     font-size: 1.7rem;
//   }
// }
// .Weather__main-toggle > span:before {
//   content: '';
//   position: absolute;
//   left: -10px;
//   top: 6px;
//   height: 3px;
//   width: 3px;
//   border: 2px solid #fff;
//   border-radius: 50%;
// }
// @media screen and (min-width: 880px) {
//   .Weather__main-toggle > span:before {
//     width: 4px;
//     height: 4px;
//     top: 7px;
//   }
// }
// .Weather__main-toggle > span:last-child {
//   margin-left: 11px;
// }
// .Weather__main-toggle button {
//   background: #6bbf6b;
//   border: none;
//   border-radius: 30px;
//   outline: none;
//   width: 45px;
//   height: 20px;
//   margin: 5px 5px 0;
//   cursor: pointer;
//   position: relative;
//   transition: background .2s;
// }
// @media screen and (min-width: 500px) {
//   .Weather__main-toggle button {
//     height: 25px;
//     width: 55px;
//   }
// }
// @media screen and (min-width: 880px) {
//   .Weather__main-toggle button {
//     height: 30px;
//     width: 65px;
//   }
// }
// .Weather__main-toggle button:active {
//   background: #929292;
// }
// .Weather__main-toggle button #unit-toggle {
//   position: absolute;
//   display: inline-block;
//   left: 3px;
//   top: 2px;
//   width: 15px;
//   height: 15px;
//   background: #fff;
//   border-radius: 50%;
//   transition: left .2s;
// }
// @media screen and (min-width: 500px) {
//   .Weather__main-toggle button #unit-toggle {
//     height: 20px;
//     width: 20px;
//   }
// }
// @media screen and (min-width: 880px) {
//   .Weather__main-toggle button #unit-toggle {
//     height: 24px;
//     width: 24px;
//     top: 3px;
//     left: 4px;
//   }
// }
// .Weather__main-toggle button #unit-toggle.toggle {
//   left: 27px;
// }
// @media screen and (min-width: 500px) {
//   .Weather__main-toggle button #unit-toggle.toggle {
//     left: 32px;
//   }
// }
// @media screen and (min-width: 880px) {
//   .Weather__main-toggle button #unit-toggle.toggle {
//     left: 37px;
//   }
// }
.Weather__right-icon, .Weather__right-time, .Weather__right-refresh {
  background: #7c8da9;
  border-radius: 50%;
  border: 3px solid #426497;
  box-shadow: 5px 5px 20px rgb(8, 7, 19);
  position: relative;
}
.Weather__right-icon:before, .Weather__right-time:before, .Weather__right-refresh:before {
  content: '';
  position: absolute;
  height: 16px;
  width: 50px;
  background: #030540;
  z-index: -1;
}
.Weather__right-icon {
  width: 100px;
  height: 100px;
}
@media screen and (min-width: 500px) {
  .Weather__right-icon {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 880px) {
  .Weather__right-icon {
    width: 130px;
    height: 130px;
  }
}
.Weather__right-icon:before {
  left: -30px;
  top: 70px;
  transform: rotate(-30deg);
}
@media screen and (min-width: 500px) {
  .Weather__right-icon:before {
    top: 80px;
  }
}
.Weather__right-icon #icon {
  margin: 10px 0 10px 2px;
  font-size: 2.3rem;
}
@media screen and (min-width: 500px) {
  .Weather__right-icon #icon {
    font-size: 3.2rem;
    margin-top: 12px;
  }
}
@media screen and (min-width: 880px) {
  .Weather__right-icon #icon {
    font-size: 3.5rem;
  }
}
// .Weather__right-icon #coverage {
//   font-size: 1rem;
// }
// @media screen and (min-width: 500px) {
//   .Weather__right-icon #coverage {
//     font-size: 1.05rem;
//   }
// }
// @media screen and (min-width: 880px) {
//   .Weather__right-icon #coverage {
//     font-size: 1.2rem;
//   }
// }
.Weather__right-time {
  width: 85px;
  height: 85px;
  font-size: 1.5rem;
  margin: 20px 0 5px 15px;
}
@media screen and (min-width: 500px) {
  .Weather__right-time {
    width: 100px;
    height: 100px;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 880px) {
  .Weather__right-time {
    width: 115px;
    height: 115px;
    font-size: 2rem;
  }
}
.Weather__right-time:before {
  top: 32px;
  left: -30px;
}
@media screen and (min-width: 500px) {
  .Weather__right-time:before {
    top: 38px;
  }
}
@media screen and (min-width: 880px) {
  .Weather__right-time:before {
    top: 47px;
  }
}
.Weather__right-refresh {
  width: 65px;
  height: 65px;
  margin-left: -20px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: background .2s;
}
@media screen and (min-width: 500px) {
  .Weather__right-refresh {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 880px) {
  .Weather__right-refresh {
    width: 80px;
    height: 80px;
  }
}
.Weather__right-refresh:hover {
  background: #6ed36e;
}
.Weather__right-refresh:active {
  background: #6ac96a;
}
.Weather__right-refresh:before {
  top: -4px;
  left: -30px;
  transform: rotate(40deg);
}
.Weather__right-refresh span {
  font-size: .95rem;
}
@media screen and (min-width: 500px) {
  .Weather__right-refresh span {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 880px) {
  .Weather__right-refresh span {
    font-size: 1.2rem;
  }
}
