
body{
    font-family: 'Lexend Deca', sans-serif;
    background-color: rgb(116, 155, 210);
    background-size:cover;
    background-repeat: no-repeat;
}
h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
}
p{
    margin: 0.7rem;
    font-size: 1.5rem;
}